In [1]:
import pathlib
from os import path
from os import chdir
import os
import pandas

In [2]:
path_file = r'D:\Data\datasheets\regression\DM-Metric'
os.chdir(path_file)

# Pruebas

In [3]:
aggregated_file = pandas.read_csv(path.join(str(path_file),'DM-Metric.csv'))

In [4]:
import numpy as np

In [5]:
aggregated_file.loc[np.random.randint(0,aggregated_file.shape[0],25),'Temperature_Habitacion_Sensor'] = np.nan

In [6]:
aggregated_file.loc[np.random.randint(0,aggregated_file.shape[0],25), 'Weather_Temperature'] = np.nan

In [7]:
aggregated_file.loc[np.random.randint(0,aggregated_file.shape[0],25), 'Lighting_Comedor_Sensor'] = np.nan

In [8]:
aggregated_file.shape[0]

4137

In [9]:
col = 'Temperature_Habitacion_Sensor'
objective_col = 'Weather_Temperature'
dataframe = aggregated_file

In [10]:
dataframe

,Date,Time,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,...,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Exterior_Entalpic_1,Exterior_Entalpic_2,Exterior_Entalpic_turbo,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
0,2012-03-13,11:45,18.1875,17.8275,0.0000,216.560,221.920,39.9125,42.4150,81.6650,...,9690.24,12604.200,95436.800,758.88000,0,0,0,18.1150,48.3750,2.00000
1,2012-03-13,12:00,18.4633,18.1207,6.8000,219.947,220.363,39.9267,42.2453,81.7413,...,11022.00,10787.200,95436.800,762.06900,0,0,0,18.4147,47.8080,2.00000
2,2012-03-13,12:15,18.7673,18.4367,17.0000,219.403,218.933,39.7720,42.2267,81.4240,...,13960.50,9669.630,95398.600,766.25100,0,0,0,18.8533,47.4320,2.00000
3,2012-03-13,12:30,19.0727,18.7513,18.0000,218.613,217.045,39.7760,42.0987,81.5013,...,18511.20,9648.130,95360.300,766.03700,0,0,0,19.2907,47.0240,2.00000
4,2012-03-13,12:45,19.3721,19.0414,20.0000,217.714,216.080,39.7757,42.0686,81.4657,...,26349.00,9208.320,95354.900,762.74300,0,0,0,19.7400,45.4743,2.00000
5,2012-03-13,13:00,19.6407,19.2773,20.0000,218.389,216.011,39.8107,42.0347,81.2427,...,36511.70,8694.780,95354.900,752.68300,0,0,0,20.1660,45.5467,2.00000
6,2012-03-13,13:15,19.9120,19.5367,20.0000,218.155,215.829,39.8613,41.9947,81.3600,...,49288.50,8501.250,95354.900,740.94900,0,0,0,20.5660,44.9680,2.00000
7,2012-03-13,13:30,20.1640,19.7307,20.0000,216.661,215.296,39.8240,41.9947,81.0240,...,62253.70,8687.620,95174.700,721.10900,0,0,0,20.8427,45.1813,2.00000
8,2012-03-13,13:45,20.4120,19.9693,20.0000,217.461,214.549,39.9587,42.1253,81.1040,...,71453.40,8888.320,91848.700,699.39200,0,0,0,21.2040,45.4160,2.00000
9,2012-03-13,14:00,20.6400,20.1407,20.0000,215.349,213.909,39.9400,42.0427,81.1813,...,80076.80,9046.020,87217.500,677.67500,0,0,0,21.5227,45.0213,2.00000
10,2012-03-13,14:15,20.8453,20.3267,20.0000,213.888,213.312,39.9813,42.1787,61.0693,...,86682.30,9182.210,81720.700,648.42700,0,0,0,21.7560,44.3600,2.00000
11,2012-03-13,14:30,21.0333,20.4713,20.0000,215.413,213.739,40.3587,42.7067,51.2373,...,88648.40,9347.070,75380.100,615.68000,0,0,0,21.9840,44.7947,2.00000
12,2012-03-13,14:45,21.2333,20.9093,20.0000,216.021,222.528,40.9107,41.5147,43.3733,...,91406.30,9712.640,68515.200,582.86900,0,0,0,22.1080,43.9840,2.00000
13,2012-03-13,15:00,21.4293,21.4253,19.6667,216.256,219.680,41.1987,40.9560,36.2653,...,90472.40,9963.520,60604.400,544.53300,0,0,0,22.1373,44.5467,2.00000
14,2012-03-13,15:15,21.4880,21.8467,19.0000,213.173,219.285,41.8800,40.6347,34.4760,...,88391.70,9655.300,52794.700,503.74400,0,0,0,22.0800,44.7813,2.00000
15,2012-03-13,15:30,21.5240,22.1573,18.6667,211.093,217.589,43.2213,40.8413,31.1267,...,89134.40,8651.780,44743.300,460.52300,0,0,0,21.9373,45.6773,2.00000
16,2012-03-13,15:45,21.5840,22.4040,18.2000,211.157,215.136,43.3653,40.8867,21.4420,...,88462.70,7906.300,36479.000,415.74400,0,0,0,21.7067,45.5173,2.00000
17,2012-03-13,16:00,21.6120,22.7307,18.0000,209.419,214.240,42.7440,40.3867,20.8220,...,85333.30,7433.220,28270.600,368.91700,0,0,0,21.4667,45.2373,2.00000
18,2012-03-13,16:15,21.6640,22.9373,18.0000,209.408,213.632,42.2160,39.9227,20.8233,...,84587.90,7175.170,21476.700,320.44800,0,0,0,21.1773,45.0747,2.00000
19,2012-03-13,16:30,21.6853,23.2000,18.0000,209.547,215.029,41.9760,39.6133,21.2633,...,78588.60,6831.100,16318.500,271.72300,0,0,0,20.9373,45.0720,2.00000
20,2012-03-13,16:45,21.7880,23.4360,18.0000,212.715,217.067,41.5200,39.0840,20.4807,...,74555.40,6515.710,12792.500,222.44300,0,0,0,20.7107,44.1280,2.00000
21,2012-03-13,17:00,21.8320,23.6680,18.7333,212.405,216.661,41.3253,38.3013,20.7420,...,65830.90,5899.260,10106.200,173.83500,0,0,0,20.4627,43.2747,2.00000
22,2012-03-13,17:15,21.8080,23.8520,19.0000,212.064,216.672,40.8667,37.7867,20.8400,...,40424.40,4243.460,6537.220,101.24400,0,0,0,20.2047,43.6107,2.00000
23,2012-03-13,17:30,21.7680,24.0213,18.6667,211.211,216.299,40.9813,37.7120,20.9207,...,3024.90,2229.250,2042.880,24.66530,0,0,0,19.9760,45.8293,2.00000
24,2012-03-13,17:45,21.7133,24.1413,18.0000,211.051,216.768,41.4107,37.7480,19.4407,...,2207.74,1576.960,1512.450,15.57000,0,0,0,19.7560,47.0693,2.00000
25,2012-03-13,18:00,21.6600,24.2680,18.0000,210.763,217.088,41.9920,37.8373,11.5887,...,1017.86,222.208,293.888,5.00933,0,0,0,19.5273,49.5467,2.00000
26,2012-03-13,18:15,21.5960,24.3800,18.0000,210.571,215.616,43.1973,38.2173,11.5073,...,0.00,0.000,0.000,-2.93933,0,0,0,19.3013,52.2027,2.00000
27,2012-03-13,18:30,21.5307,24.0707,17.8667,209.920,216.107,43.8213,39.3560,11.5073,...,0.00,0.000,0.000,-3.90400,0,0,0,19.0413,53.8053,2.00000
28,2012-03-13,18:45,21.4493,23.5880,17.0000,209.792,215.477,44.3893,40.1587,11.5073,...,0.00,0.000,0.000,-3.70800,0,0,0,18.7680,54.9280,2.00000
29,2012-03-13,19:00,21.3747,23.2867,17.0000,210.059,214.987,44.6800,40.7520,11.4427,...,0.00,0.000,0.000,-3.64267,0,0,0,18.4967,55.7520,2.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,2012-05-01,23:45,21.3827,20.9253,14.3333,195.616,196.736,42.9600,44.7227,11.6053,...,0.00,0.000,0.000,-2.88600,0,0,0,16.3627,61.4080,2.00000
4108,2012-05-02,00:00,21.2653,20.8347,13.4667,195.211,196.629,43.1787,44.8800,11.5073,...,0.00,0.000,0.000,-2.88600,0,0,0,16.2680,62.2320,2.06667
4109,2012-05-02,00:15,21.1569,20.7262,13.0000,195.188,197.231,43.2954,44.9938,11.6623,...,0.00,0.000,0.000,-3.03000,0,0,0,16.1515,62.0308,3.00000
4110,2012-05-02,00:30,21.0653,20.6560,13.0000,194.848,197.717,43.0640,44.9760,11.6053,...,0.00,0.000,0.000,-3.04200,0,0,0,16.0767,61.7280,3.00000
4111,2012-05-02,00:45,20.9413,20.5520,13.0000,194.763,196.907,43.1280,45.0133,11.6220,...,0.00,0.000,0.000,-2.88600,0,0,0,15.9727,62.0293,3.00000
4112,2012-05-02,01:00,20.8587,20.4533,13.0000,194.805,196.971,42.9253,45.0000,11.5887,...,0.00,0.000,0.000,-2.96400,0,0,0,15.8993,62.0400,3.00000
4113,2012-05-02,01:15,20.7560,20.3660,13.0000,194.912,197.888,42.8987,45.0480,11.6867,...,0.00,0.000,0.000,-2.88600,0,0,0,15.8147,62.0640,3.00000
4114,2012-05-02,01:30,20.6707,20.2633,13.0000,194.368,198.144,42.9920,45.1173,11.5240,...,0.00,0.000,0.000,-2.88600,0,0,0,15.7167,62.2133,3.00000
4115,2012-05-02,01:45,20.5707,20.1600,NaN,195.029,198.379,43.0800,45.1813,11.6053,...,0.00,0.000,0.000,-2.80800,0,0,0,15.5573,62.4560,3.00000
4116,2012-05-02,02:00,20.4847,20.0667,11.8667,195.328,199.669,43.1307,45.2560,11.6053,...,0.00,0.000,0.000,-2.57400,0,0,0,15.3120,62.5973,3.00000
4117,2012-05-02,02:15,20.3867,19.9720,11.0000,195.413,199.765,43.0747,45.2480,11.4260,...,0.00,0.000,0.000,-3.04200,0,0,0,15.1020,62.8960,3.00000
4118,2012-05-02,02:30,20.2887,19.8787,11.0000,197.173,200.533,42.7147,44.9333,11.6053,...,0.00,0.000,0.000,-2.80800,0,0,0,15.0433,62.7200,3.00000
4119,2012-05-02,02:45,20.1646,19.7692,11.0000,197.723,201.748,42.6277,44.9138,11.7008,...,0.00,0.000,0.000,-2.85000,0,0,0,14.8946,62.9969,3.00000
4120,2012-05-02,03:15,20.0600,19.6220,11.0000,197.824,201.264,42.6760,44.9480,11.6950,...,0.00,0.000,0.000,-2.76900,0,0,0,14.7580,63.2360,3.00000
4121,2012-05-02,03:30,19.8627,19.4160,11.0000,197.920,201.301,42.6880,44.9653,11.7033,...,0.00,0.000,0.000,-2.73000,0,0,0,14.5433,63.3653,3.00000
4122,2012-05-02,03:45,19.7693,19.3127,11.0000,198.144,201.163,42.8053,45.0133,11.6867,...,0.00,0.000,0.000,-2.80800,0,0,0,14.4213,62.9707,3.00000
4123,2012-05-02,04:00,19.6653,19.1927,11.0000,199.147,202.155,42.8400,45.0693,11.7680,...,0.00,0.000,0.000,-2.49600,0,0,0,14.3233,62.6000,3.00000
4124,2012-05-02,04:15,19.5613,19.0813,11.0000,199.285,202.027,42.7360,45.0213,11.7033,...,0.00,0.000,0.000,-2.73000,0,0,0,14.2127,62.7413,3.00000
4125,2012-05-02,04:30,19.4413,18.9647,11.0000,199.360,201.419,42.6907,44.9840,11.5240,...,0.00,0.000,0.000,-2.65200,0,0,0,14.1000,62.7787,3.00000
4126,2012-05-02,05:00,19.2877,18.7877,11.0000,200.228,202.788,42.6831,44.9415,11.6442,...,0.00,0.000,0.000,-2.05462,0,0,0,13.8977,63.5369,3.00000
4127,2012-05-02,05:15,19.1253,18.6233,11.0000,200.405,203.275,42.7787,45.0000,12.4847,...,322.56,2917.030,415.744,5.85600,0,0,0,13.6847,63.2320,3.00000
4128,2012-05-02,05:30,19.0160,18.5073,NaN,200.885,203.509,42.8213,45.0747,21.0840,...,3713.02,18452.800,3505.150,26.06070,0,0,0,13.6440,62.4133,3.00000
4129,2012-05-02,05:45,18.9467,18.4367,11.0000,200.928,202.677,42.7893,45.0693,21.0207,...,7038.98,35670.700,6458.370,63.60800,0,0,0,13.7027,61.8933,3.00000
4130,2012-05-02,06:00,18.8833,18.3560,11.0000,200.288,201.739,42.7387,44.9920,21.1473,...,10392.20,52183.000,9769.640,123.93600,0,0,0,13.8740,61.2187,3.00000
4131,2012-05-02,06:15,18.8400,18.2900,11.0000,199.776,202.443,42.8560,44.9947,21.0033,...,10949.60,61197.000,11152.000,177.97300,0,0,0,14.1980,60.0853,3.00000
4132,2012-05-02,06:30,18.8000,18.2667,11.0000,199.424,201.963,43.0160,44.9813,21.8500,...,6636.54,35671.400,7454.380,124.49600,0,0,0,14.4833,58.9920,3.00000
4133,2012-05-02,06:45,18.7713,18.2153,11.7333,199.200,202.091,43.1920,44.9413,21.1653,...,11818.30,71188.500,12526.900,256.59700,0,0,0,14.7540,58.6213,3.00000
4134,2012-05-02,07:00,18.7860,18.2000,12.0000,199.435,201.739,43.3947,44.9333,21.2640,...,10836.30,69498.200,12597.900,281.56800,0,0,0,15.2020,57.6960,3.00000
4135,2012-05-02,07:15,18.8133,18.2153,12.5333,200.107,200.597,43.3440,44.7013,28.1647,...,11722.10,79102.000,15796.900,354.64500,0,0,0,15.7260,56.8613,3.00000
4136,2012-05-02,07:30,18.8600,18.2667,13.0000,200.149,199.541,43.6667,44.5653,31.1107,...,11819.70,81240.100,19035.500,404.99200,0,0,0,16.2693,55.8907,3.00000

In [11]:
#!/usr/bin/python3
import numpy as np
import pandas as pd
from sklearn import preprocessing
from copy import deepcopy


## Class oriented to manage normalizations on dataframes for improvemnts on accuracy
class Normalizer (object):
    def __init__(self):
        pass
    ## Main method oriented to define and manage normalizations sets applying normalizations
    # @param self object pointer
    # @param df dataframe
    # @param normalizedmd OrderedDict() compatible structure
    # @return dataframe
    def normalizeDataFrame(self, df, normalizemd):
        if normalizemd['type'] == 'pandas':
            dataframe = df.copy()
            for col, norms in normalizemd['columns']:
                if norms['class'] == 'base':
                    dataframe[col] = self.normalizeBase(dataframe[col])
                elif norms['class'] == 'drop_missing':
                    dataframe[col] = self.normalizeBase(dataframe, col)
                elif norms['class'] == 'stdmean':
                    dataframe[col] = self.normalizeStdMean(dataframe[col])
                elif norms['class'] == 'working_range':
                    dataframe[col] = self.normalizeWorkingRange(dataframe[col],
                                                                norms['objective']['minval'],
                                                                norms['objective']['maxval'])
                elif norms['class'] == 'discretize':
                    dataframe[col] = self.normalizeDiscretize(dataframe[col],
                                                              norms['objective']['buckets_number'],
                                                              norms['objective']['fixed_size'])
                elif norms['class'] == 'aggregation':
                    dataframe[col] = self.normalizeAgregation(dataframe[col],
                                                              norms['objective']['bucket_ratio'])
                elif norms['class'] == 'fixed_missing_values':
                    dataframe[col] = self.fixedMissingValues(dataframe[col],
                                                             norms['objective']['value'])
                elif norms['class'] == 'mean_missing_values':
                    dataframe = self.meanMissingValues(dataframe[col],
                                                            col,
                                                            norms['objective']['objective_column'],
                                                            norms['objective']['value']
                                                            )
                elif norms['class'] == 'progressive_missing_values':
                    dataframe = self.progressiveMissingValues(dataframe[col],
                                                                   col,
                                                                   norms['objective']['objective_column'])
                elif norms['class'] == 'binary_encoding':
                    dataframe[col] = self.normalizeBinaryEncoding(dataframe[col])
                else:
                    print("Nothing to Normalize")
            return dataframe
        else:
            return df

    ## Internal method oriented to manage drop NaN values from dataset
    # @param self object pointer
    # @param dataframe single column dataframe
    # @return dataframe
    def normalizeBase(self, dataframe):
        if dataframe.dtype == np.object:
            try:
                return pd.to_numeric(dataframe)
            except ValueError:
                try:
                    return pd.to_datetime(dataframe)
                except ValueError:
                    return pd.Categorical(dataframe)

    ## Internal method oriented to manage base normalizations
    # @param self object pointer
    # @param dataframe single column dataframe
    # @param col column base to reference drop NaN
    # @return dataframe
    def normalizeDropMissing(self, dataframe, col):
        return dataframe.dropna(axis=0, subset=[col])

    ## Internal method oriented to manage Working range normalizations on a [closed, closed] interval
    # @param self object pointer
    # @param dataframe single column dataframe
    # @param minval
    # @param maxval
    # @return dataframe
    def normalizeWorkingRange(self, dataframe, minval=0, maxval=1):
        assert(maxval > minval)
        if dataframe.dtype != np.object:
            dataframe = (maxval - minval) * ((dataframe - dataframe.min()) /
                                             (dataframe.max() - dataframe.min())) + minval
        return dataframe

    ## Internal method oriented to manage bucket ratio normalizations head - tail
    # @param self object pointer
    # @param dataframe single column dataframe
    # @param br bucket ratio
    # @return dataframe
    def normalizeAgregation(self, dataframe, br=0.25):
        if (dataframe.dtype != np.object):
            buckets = int(1 / (br/2))
            q, bins = pd.qcut(dataframe.iloc[:], buckets, retbins=True)
            if dataframe.dtype != np.int:
                dataframe[dataframe <= bins[1]] = np.int(dataframe[dataframe <= bins[1]].mean())
                dataframe[dataframe >= bins[-2]] = np.int(dataframe[dataframe >= bins[-2]].mean())
            else:
                dataframe[dataframe <= bins[1]] = dataframe[dataframe <= bins[1]].mean()
                dataframe[dataframe <= bins[-2]] = dataframe[dataframe <= bins[-2]].mean()
        return dataframe

    ## Internal method oriented to manage Binary encodings
    # @param self object pointer
    # @param dataframe single column dataframe
    # @return dataframe
    def normalizeBinaryEncoding(self, dataframe):
        return dataframe

    ## Internal method oriented to manage mean and std normalizations. Default mean=0 std=1
    # @param self object pointer
    # @param dataframe single column dataframe
    # @return dataframe
    def normalizeStdMean(self, dataframe):
        if (dataframe.dtype != np.object):
            #dataframe = (dataframe - dataframe.mean()) / dataframe.std()
            dataframe = preprocessing.scale(dataframe)
        return dataframe

    ## Internal method oriented to manage bucketing for discretize
    # @param self object pointer
    # dataframe single column dataframe
    # @param buckets number Int
    # @param fixed size Boolean (True=Fixed Size, False Fixed Frecuency
    # @return dataframe
    def normalizeDiscretize(self, dataframe, buckets_number, fixed_size):
        #Un nmero de buckets de tamao fixed_size
        if fixed_size:
            return pd.qcut(dataframe, buckets_number)
        else:
            return pd.cut(dataframe, buckets_number)
        return dataframe

    ## Internal method oriented to manage imputation for missing values to fixed value
    # @param self object pointer
    # dataframe single column dataframe
    # @param value
    # @return dataframe
    def fixedMissingValues(self, dataframe, value=0.0):
        return dataframe.fillna(value)

    ## Internal method oriented to manage imputation for missing values to mean value
    # @param self object pointer
    # @param dataframe full column dataframe
    # @param col column name for imputation
    # @param objective_col objective_column
    # @param full True means fll_dataframe.mean(), False means objective_col.value.mean()
    # @return dataframe
    def meanMissingValues(self, dataframe, col, objective_col, full=False):
        if full:
            return dataframe.fillna(dataframe.mean())
        else:
            nullfalse = dataframe[dataframe[:][col].notnull()][[col, objective_col]]
            nullfalse_gb = nullfalse.groupby(objective_col).mean()
            for index, row in dataframe[dataframe[:][col].isnull()].iterrows():
                row = row.copy()
                if nullfalse_gb.index.isin([row[objective_col]]).any():
                    dataframe.loc[index, col] = nullfalse_gb.loc[row[objective_col], col]
            return dataframe

    ## Internal method oriented to manage progressive imputations for missing values.
    # ([right_not_nan] - [left_not_nan])/Cardinality(is_nan)
    # @param self object pointer
    # @param dataframe full column dataframe
    # @param col column name for imputation
    # @param objective_col objective_column
    # @return dataframe
    def progressiveMissingValues(self, dataframe, col, objective_col):
        nullfalse = dataframe[dataframe[:][col].notnull()].sort_values(objective_col,
                                                                       axis=0,
                                                                       ascending=True)[[col, objective_col]]
        nullfalse_gb = nullfalse.groupby(objective_col).mean()
        for index, row in dataframe[dataframe[:][col].isnull()].iterrows():
            row = row.copy()
            if nullfalse_gb.index.isin([row[objective_col]]).any():
                dataframe.loc[index, col] = nullfalse_gb.loc[row[objective_col], col]
            else:
                index_max = nullfalse_gb.index.where(nullfalse_gb.index > row[objective_col]).min()
                index_min = nullfalse_gb.index.where(nullfalse_gb.index < row[objective_col]).max()
                if index_min is np.nan:
                    dataframe.loc[index, col] = nullfalse_gb.loc[index_max, col]
                elif index_max is np.nan:
                    dataframe.loc[index, col] = nullfalse_gb.loc[index_min, col]
                else:
                    minimal = min(nullfalse_gb.loc[index_min, col], nullfalse_gb.loc[index_max, col])
                    maximal = max(nullfalse_gb.loc[index_min, col], nullfalse_gb.loc[index_max, col])
                    b = maximal - minimal
                    a = index_max - index_min
                    x = (row[objective_col] - index_min) / a
                    offset = b * x
                    dataframe.loc[index, col] = minimal + offset
        return dataframe

In [12]:
norm = Normalizer()

In [13]:
dataframe.dtypes

Date                              object
Time                              object
Temperature_Comedor_Sensor       float64
Temperature_Habitacion_Sensor    float64
Weather_Temperature              float64
CO2_Comedor_Sensor               float64
CO2_Habitacion_Sensor            float64
Humedad_Comedor_Sensor           float64
Humedad_Habitacion_Sensor        float64
Lighting_Comedor_Sensor          float64
Lighting_Habitacion_Sensor       float64
Precipitacion                    float64
Meteo_Exterior_Crepusculo        float64
Meteo_Exterior_Viento            float64
Meteo_Exterior_Sol_Oest          float64
Meteo_Exterior_Sol_Est           float64
Meteo_Exterior_Sol_Sud           float64
Meteo_Exterior_Piranometro       float64
Exterior_Entalpic_1                int64
Exterior_Entalpic_2                int64
Exterior_Entalpic_turbo            int64
Temperature_Exterior_Sensor      float64
Humedad_Exterior_Sensor          float64
Day_Of_Week                      float64
dtype: object

In [14]:
# base
dataframe.loc[:,'Date'] = norm.normalizeBase(dataframe.loc[:,'Date'])

In [15]:
dataframe.dtypes

Date                             datetime64[ns]
Time                                     object
Temperature_Comedor_Sensor              float64
Temperature_Habitacion_Sensor           float64
Weather_Temperature                     float64
CO2_Comedor_Sensor                      float64
CO2_Habitacion_Sensor                   float64
Humedad_Comedor_Sensor                  float64
Humedad_Habitacion_Sensor               float64
Lighting_Comedor_Sensor                 float64
Lighting_Habitacion_Sensor              float64
Precipitacion                           float64
Meteo_Exterior_Crepusculo               float64
Meteo_Exterior_Viento                   float64
Meteo_Exterior_Sol_Oest                 float64
Meteo_Exterior_Sol_Est                  float64
Meteo_Exterior_Sol_Sud                  float64
Meteo_Exterior_Piranometro              float64
Exterior_Entalpic_1                       int64
Exterior_Entalpic_2                       int64
Exterior_Entalpic_turbo                   int64
Temperature_Exterior_Sensor             float64
Humedad_Exterior_Sensor                 float64
Day_Of_Week                             float64
dtype: object

In [16]:
#working range
dataframe.loc[:,'CO2_Comedor_Sensor'] =  norm.normalizeWorkingRange(dataframe.loc[:,'CO2_Comedor_Sensor'],0,100)

In [17]:
dataframe.loc[:,'CO2_Comedor_Sensor'].max()

100.0

In [18]:
dataframe.loc[:,'CO2_Comedor_Sensor'].min()

0.0

In [19]:
#StdMean
dataframe.loc[:,'CO2_Comedor_Sensor'] =  norm.normalizeStdMean(dataframe.loc[:,'CO2_Comedor_Sensor'])

In [20]:
dataframe.loc[:,'CO2_Comedor_Sensor'].std()

1.0001208824422652

In [21]:
dataframe.shape[0]

4137

In [22]:
# DropMissing
dataframe = norm.normalizeDropMissing(dataframe,objective_col)
dataframe.shape[0]

4112

In [23]:
dataframe.loc[:,'CO2_Habitacion_Sensor'] = norm.normalizeDiscretize(dataframe.loc[:,'CO2_Habitacion_Sensor'],
                                                                    buckets_number=10,
                                                                    fixed_size=True)

C:\Users\e2its\AppData\Roaming\Python\Python35\site-packages\pandas\core\indexing.py:476: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [24]:
dataframe.loc[:,'CO2_Habitacion_Sensor'].value_counts()

(213.372, 216.331]     413
[188.907, 194.678]     412
(211.56, 213.372]      411
(210.236, 211.56]      411
(208.912, 210.236]     411
(207.112, 208.912]     411
(203.608, 207.112]     411
(199.0762, 203.608]    411
(194.678, 199.0762]    411
(216.331, 609.237]     410
Name: CO2_Habitacion_Sensor, dtype: int64

In [25]:
dataframe.loc[:,'Humedad_Habitacion_Sensor'] = norm.normalizeDiscretize(dataframe.loc[:,'Humedad_Habitacion_Sensor'],
                                                                    buckets_number=10,
                                                                    fixed_size=False)

C:\Users\e2its\AppData\Roaming\Python\Python35\site-packages\pandas\core\indexing.py:476: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [26]:
dataframe.loc[:,'Humedad_Habitacion_Sensor'].value_counts()

(41.391, 44.925]     690
(48.459, 51.993]     664
(44.925, 48.459]     589
(30.79, 34.324]      457
(37.858, 41.391]     425
(34.324, 37.858]     342
(55.527, 59.0608]    295
(51.993, 55.527]     293
(59.0608, 62.595]    187
(27.221, 30.79]      170
Name: Humedad_Habitacion_Sensor, dtype: int64

In [27]:
#Fixed missing
dataframe['Lighting_Comedor_Sensor']=norm.fixedMissingValues(dataframe.loc[:,'Lighting_Comedor_Sensor'],0.0)

C:\Users\e2its\AppData\Roaming\Python\Python35\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [28]:
dataframe[dataframe.loc[:,'Lighting_Comedor_Sensor'].isin([0.0]) == True]

,Date,Time,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,...,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Exterior_Entalpic_1,Exterior_Entalpic_2,Exterior_Entalpic_turbo,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
376,2012-03-17,09:45,16.4040,16.0433,15.0000,-0.006451,"(207.112, 208.912]",45.6293,"(44.925, 48.459]",0.0,...,13774.80,71071.10,91373.60,596.77900,0,0,0,15.57130,60.4507,6.0
791,2012-03-21,17:30,17.2713,17.0067,14.0000,0.270082,"(213.372, 216.331]",58.5920,"(59.0608, 62.595]",0.0,...,3060.74,1175.55,1404.93,29.74270,0,0,0,16.15130,67.3680,3.0
848,2012-03-22,07:45,11.4333,11.1513,7.0000,0.016044,"(207.112, 208.912]",49.6693,"(55.527, 59.0608]",0.0,...,13444.40,75270.80,45305.90,273.15200,0,0,0,9.74333,62.9573,4.0
960,2012-03-23,11:45,17.1140,16.9353,16.0000,0.609356,"(216.331, 609.237]",47.7600,"(48.459, 51.993]",0.0,...,10442.10,13968.00,88511.80,792.25600,0,0,0,17.32800,57.2613,5.0
1319,2012-03-27,05:30,17.2647,16.7093,7.0000,0.051193,"(210.236, 211.56]",46.4107,"(48.459, 51.993]",0.0,...,0.00,0.00,0.00,-3.12000,0,0,0,12.38200,60.3840,2.0
1359,2012-03-27,15:30,22.0373,21.2387,18.0000,0.163230,"(208.912, 210.236]",45.4453,"(44.925, 48.459]",0.0,...,80292.50,8537.09,28120.40,477.50400,0,0,0,21.84930,48.1440,2.0
1693,2012-03-31,03:00,21.5600,21.0560,12.0000,0.061518,"(211.56, 213.372]",35.2467,"(34.324, 37.858]",0.0,...,0.00,0.00,0.00,-3.57733,0,0,0,16.78730,38.5307,6.0
2063,2012-04-03,23:30,20.2667,19.8940,14.0000,-0.043929,"(208.912, 210.236]",53.3040,"(55.527, 59.0608]",0.0,...,0.00,0.00,0.00,-3.64267,0,0,0,17.04200,68.9680,2.0
2172,2012-04-05,02:45,18.5133,18.1333,13.0000,-0.332632,"(199.0762, 203.608]",56.3093,"(59.0608, 62.595]",0.0,...,0.00,0.00,0.00,-3.51200,0,0,0,16.04000,78.9680,4.0
2199,2012-04-05,09:30,18.6140,18.4240,15.1333,-0.154076,"(203.608, 207.112]",56.0640,"(55.527, 59.0608]",0.0,...,14167.40,77283.30,77501.80,656.17100,0,0,0,17.68470,71.2587,4.0
2230,2012-04-05,17:15,21.9800,21.4560,17.0000,-0.626477,"[188.907, 194.678]",56.1787,"(55.527, 59.0608]",0.0,...,56322.70,6874.11,8544.26,193.86700,0,0,0,19.53870,66.8880,4.0
2440,2012-04-07,21:45,19.0227,18.5600,12.0000,-0.709867,"[188.907, 194.678]",41.3440,"(41.391, 44.925]",0.0,...,0.00,0.00,0.00,-3.64267,0,0,0,16.07400,44.1013,6.0
2461,2012-04-08,03:00,17.2060,16.7053,9.0000,-0.645677,"[188.907, 194.678]",45.0933,"(44.925, 48.459]",0.0,...,0.00,0.00,0.00,-3.38133,0,0,0,13.29870,53.0533,7.0
2687,2012-04-10,11:30,20.8133,20.9080,24.0000,-0.469449,"[188.907, 194.678]",48.0293,"(48.459, 51.993]",0.0,...,14985.90,17291.30,29867.30,369.52500,0,0,0,23.85330,42.2667,2.0
2735,2012-04-10,23:30,23.4253,23.0560,17.0000,-0.698620,"[188.907, 194.678]",39.7387,"(37.858, 41.391]",0.0,...,0.00,0.00,0.00,-3.64267,0,0,0,20.22530,43.3733,2.0
2821,2012-04-18,14:15,24.1120,24.0253,21.0000,0.121490,"(203.608, 207.112]",29.5693,"(27.221, 30.79]",0.0,...,82362.40,13508.60,37315.90,802.19700,0,0,0,25.64530,27.1720,3.0
2840,2012-04-18,19:00,24.5480,24.1920,19.8667,-0.016732,"(203.608, 207.112]",26.6547,"(27.221, 30.79]",0.0,...,0.00,0.00,0.00,-3.31600,0,0,0,22.52130,25.6973,3.0
2878,2012-04-19,04:30,20.9040,20.7200,15.0000,-0.270771,"(199.0762, 203.608]",31.1973,"(30.79, 34.324]",0.0,...,0.00,0.00,0.00,-3.12000,0,0,0,17.36670,39.9493,4.0
3291,2012-04-23,11:45,23.6413,23.6987,21.9333,0.071359,"(210.236, 211.56]",35.3493,"(34.324, 37.858]",0.0,...,9619.46,15185.90,58231.50,925.61100,0,0,0,24.91200,39.2747,1.0
3358,2012-04-24,04:30,23.6120,23.3587,17.0000,-0.276834,"(203.608, 207.112]",32.5040,"(30.79, 34.324]",0.0,...,0.00,0.00,0.00,-3.12000,0,0,0,19.56730,36.3533,2.0
3583,2012-04-26,12:45,26.3133,26.3307,29.0000,0.173511,"(211.56, 213.372]",39.5427,"(37.858, 41.391]",0.0,...,25172.70,9647.79,45566.60,903.08300,0,0,0,28.29470,40.4880,4.0
3611,2012-04-26,19:45,26.5893,25.9200,19.2667,-0.062689,"(211.56, 213.372]",37.4547,"(37.858, 41.391]",0.0,...,0.00,0.00,0.00,-3.31600,0,0,0,22.36530,44.8960,4.0
3738,2012-04-28,03:30,21.5000,21.1893,14.6000,-0.041600,"(207.112, 208.912]",42.4187,"(44.925, 48.459]",0.0,...,0.00,0.00,0.00,-3.04200,0,0,0,17.72330,68.9253,6.0

In [29]:
dataframe[dataframe.loc[:,'Lighting_Comedor_Sensor'].isnull() == True]

Empty DataFrame
Columns: [Date, Time, Temperature_Comedor_Sensor, Temperature_Habitacion_Sensor, Weather_Temperature, CO2_Comedor_Sensor, CO2_Habitacion_Sensor, Humedad_Comedor_Sensor, Humedad_Habitacion_Sensor, Lighting_Comedor_Sensor, Lighting_Habitacion_Sensor, Precipitacion, Meteo_Exterior_Crepusculo, Meteo_Exterior_Viento, Meteo_Exterior_Sol_Oest, Meteo_Exterior_Sol_Est, Meteo_Exterior_Sol_Sud, Meteo_Exterior_Piranometro, Exterior_Entalpic_1, Exterior_Entalpic_2, Exterior_Entalpic_turbo, Temperature_Exterior_Sensor, Humedad_Exterior_Sensor, Day_Of_Week]
Index: []

[0 rows x 24 columns]

In [30]:
#Drop NaN on Objective_column
dataframe = norm.normalizeDropMissing(dataframe, objective_col)

In [31]:
dataframe[dataframe.loc[:,objective_col].isnull() == True]

Empty DataFrame
Columns: [Date, Time, Temperature_Comedor_Sensor, Temperature_Habitacion_Sensor, Weather_Temperature, CO2_Comedor_Sensor, CO2_Habitacion_Sensor, Humedad_Comedor_Sensor, Humedad_Habitacion_Sensor, Lighting_Comedor_Sensor, Lighting_Habitacion_Sensor, Precipitacion, Meteo_Exterior_Crepusculo, Meteo_Exterior_Viento, Meteo_Exterior_Sol_Oest, Meteo_Exterior_Sol_Est, Meteo_Exterior_Sol_Sud, Meteo_Exterior_Piranometro, Exterior_Entalpic_1, Exterior_Entalpic_2, Exterior_Entalpic_turbo, Temperature_Exterior_Sensor, Humedad_Exterior_Sensor, Day_Of_Week]
Index: []

[0 rows x 24 columns]

In [32]:
# meanMissingValues
dataframe = norm.meanMissingValues(dataframe,col,objective_col)

In [33]:
dataframe[dataframe.loc[:,col].isnull() == True]

,Date,Time,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,...,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Exterior_Entalpic_1,Exterior_Entalpic_2,Exterior_Entalpic_turbo,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
3100,2012-04-21,12:00,26.0747,NaN,22.9333,0.780882,"(216.331, 609.237]",33.592,"(30.79, 34.324]",102.627,...,11696.1,11272.2,59293.7,918.571,0,0,0,27.3387,34.8347,6.0

In [34]:
# progressiveMissingValues
norm.progressiveMissingValues(dataframe,col,objective_col)

,Date,Time,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,...,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Exterior_Entalpic_1,Exterior_Entalpic_2,Exterior_Entalpic_turbo,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
0,2012-03-13,11:45,18.1875,17.8275,0.0000,0.437610,"(216.331, 609.237]",39.9125,"(41.391, 44.925]",81.6650,...,9690.24,12604.200,95436.800,758.88000,0,0,0,18.1150,48.3750,2.00000
1,2012-03-13,12:00,18.4633,18.1207,6.8000,0.586421,"(216.331, 609.237]",39.9267,"(41.391, 44.925]",81.7413,...,11022.00,10787.200,95436.800,762.06900,0,0,0,18.4147,47.8080,2.00000
2,2012-03-13,12:15,18.7673,18.4367,17.0000,0.562520,"(216.331, 609.237]",39.7720,"(41.391, 44.925]",81.4240,...,13960.50,9669.630,95398.600,766.25100,0,0,0,18.8533,47.4320,2.00000
3,2012-03-13,12:30,19.0727,18.7513,18.0000,0.527811,"(216.331, 609.237]",39.7760,"(41.391, 44.925]",81.5013,...,18511.20,9648.130,95360.300,766.03700,0,0,0,19.2907,47.0240,2.00000
4,2012-03-13,12:45,19.3721,19.0414,20.0000,0.488312,"(213.372, 216.331]",39.7757,"(41.391, 44.925]",81.4657,...,26349.00,9208.320,95354.900,762.74300,0,0,0,19.7400,45.4743,2.00000
5,2012-03-13,13:00,19.6407,19.2773,20.0000,0.517969,"(213.372, 216.331]",39.8107,"(41.391, 44.925]",81.2427,...,36511.70,8694.780,95354.900,752.68300,0,0,0,20.1660,45.5467,2.00000
6,2012-03-13,13:15,19.9120,19.5367,20.0000,0.507688,"(213.372, 216.331]",39.8613,"(41.391, 44.925]",81.3600,...,49288.50,8501.250,95354.900,740.94900,0,0,0,20.5660,44.9680,2.00000
7,2012-03-13,13:30,20.1640,19.7307,20.0000,0.442048,"(213.372, 216.331]",39.8240,"(41.391, 44.925]",81.0240,...,62253.70,8687.620,95174.700,721.10900,0,0,0,20.8427,45.1813,2.00000
8,2012-03-13,13:45,20.4120,19.9693,20.0000,0.477196,"(213.372, 216.331]",39.9587,"(41.391, 44.925]",81.1040,...,71453.40,8888.320,91848.700,699.39200,0,0,0,21.2040,45.4160,2.00000
9,2012-03-13,14:00,20.6400,20.1407,20.0000,0.384404,"(213.372, 216.331]",39.9400,"(41.391, 44.925]",81.1813,...,80076.80,9046.020,87217.500,677.67500,0,0,0,21.5227,45.0213,2.00000
10,2012-03-13,14:15,20.8453,20.3267,20.0000,0.320213,"(211.56, 213.372]",39.9813,"(41.391, 44.925]",61.0693,...,86682.30,9182.210,81720.700,648.42700,0,0,0,21.7560,44.3600,2.00000
11,2012-03-13,14:30,21.0333,20.4713,20.0000,0.387215,"(213.372, 216.331]",40.3587,"(41.391, 44.925]",51.2373,...,88648.40,9347.070,75380.100,615.68000,0,0,0,21.9840,44.7947,2.00000
12,2012-03-13,14:45,21.2333,20.9093,20.0000,0.413929,"(216.331, 609.237]",40.9107,"(41.391, 44.925]",43.3733,...,91406.30,9712.640,68515.200,582.86900,0,0,0,22.1080,43.9840,2.00000
13,2012-03-13,15:00,21.4293,21.4253,19.6667,0.424254,"(216.331, 609.237]",41.1987,"(37.858, 41.391]",36.2653,...,90472.40,9963.520,60604.400,544.53300,0,0,0,22.1373,44.5467,2.00000
14,2012-03-13,15:15,21.4880,21.8467,19.0000,0.288799,"(216.331, 609.237]",41.8800,"(37.858, 41.391]",34.4760,...,88391.70,9655.300,52794.700,503.74400,0,0,0,22.0800,44.7813,2.00000
15,2012-03-13,15:30,21.5240,22.1573,18.6667,0.197412,"(216.331, 609.237]",43.2213,"(37.858, 41.391]",31.1267,...,89134.40,8651.780,44743.300,460.52300,0,0,0,21.9373,45.6773,2.00000
16,2012-03-13,15:45,21.5840,22.4040,18.2000,0.200224,"(213.372, 216.331]",43.3653,"(37.858, 41.391]",21.4420,...,88462.70,7906.300,36479.000,415.74400,0,0,0,21.7067,45.5173,2.00000
17,2012-03-13,16:00,21.6120,22.7307,18.0000,0.123863,"(213.372, 216.331]",42.7440,"(37.858, 41.391]",20.8220,...,85333.30,7433.220,28270.600,368.91700,0,0,0,21.4667,45.2373,2.00000
18,2012-03-13,16:15,21.6640,22.9373,18.0000,0.123380,"(213.372, 216.331]",42.2160,"(37.858, 41.391]",20.8233,...,84587.90,7175.170,21476.700,320.44800,0,0,0,21.1773,45.0747,2.00000
19,2012-03-13,16:30,21.6853,23.2000,18.0000,0.129487,"(213.372, 216.331]",41.9760,"(37.858, 41.391]",21.2633,...,78588.60,6831.100,16318.500,271.72300,0,0,0,20.9373,45.0720,2.00000
20,2012-03-13,16:45,21.7880,23.4360,18.0000,0.268676,"(216.331, 609.237]",41.5200,"(37.858, 41.391]",20.4807,...,74555.40,6515.710,12792.500,222.44300,0,0,0,20.7107,44.1280,2.00000
21,2012-03-13,17:00,21.8320,23.6680,18.7333,0.255056,"(216.331, 609.237]",41.3253,"(37.858, 41.391]",20.7420,...,65830.90,5899.260,10106.200,173.83500,0,0,0,20.4627,43.2747,2.00000
22,2012-03-13,17:15,21.8080,23.8520,19.0000,0.240074,"(216.331, 609.237]",40.8667,"(34.324, 37.858]",20.8400,...,40424.40,4243.460,6537.220,101.24400,0,0,0,20.2047,43.6107,2.00000
23,2012-03-13,17:30,21.7680,24.0213,18.6667,0.202596,"(213.372, 216.331]",40.9813,"(34.324, 37.858]",20.9207,...,3024.90,2229.250,2042.880,24.66530,0,0,0,19.9760,45.8293,2.00000
24,2012-03-13,17:45,21.7133,24.1413,18.0000,0.195567,"(216.331, 609.237]",41.4107,"(34.324, 37.858]",19.4407,...,2207.74,1576.960,1512.450,15.57000,0,0,0,19.7560,47.0693,2.00000
25,2012-03-13,18:00,21.6600,24.2680,18.0000,0.182913,"(216.331, 609.237]",41.9920,"(34.324, 37.858]",11.5887,...,1017.86,222.208,293.888,5.00933,0,0,0,19.5273,49.5467,2.00000
26,2012-03-13,18:15,21.5960,24.3800,18.0000,0.174477,"(213.372, 216.331]",43.1973,"(37.858, 41.391]",11.5073,...,0.00,0.000,0.000,-2.93933,0,0,0,19.3013,52.2027,2.00000
27,2012-03-13,18:30,21.5307,24.0707,17.8667,0.145875,"(213.372, 216.331]",43.8213,"(37.858, 41.391]",11.5073,...,0.00,0.000,0.000,-3.90400,0,0,0,19.0413,53.8053,2.00000
28,2012-03-13,18:45,21.4493,23.5880,17.0000,0.140251,"(213.372, 216.331]",44.3893,"(37.858, 41.391]",11.5073,...,0.00,0.000,0.000,-3.70800,0,0,0,18.7680,54.9280,2.00000
29,2012-03-13,19:00,21.3747,23.2867,17.0000,0.151982,"(213.372, 216.331]",44.6800,"(37.858, 41.391]",11.4427,...,0.00,0.000,0.000,-3.64267,0,0,0,18.4967,55.7520,2.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4105,2012-05-01,23:15,21.6053,21.1307,15.0000,-0.466198,"(194.678, 199.0762]",43.2293,"(41.391, 44.925]",11.6867,...,0.00,0.000,0.000,-2.88600,0,0,0,16.5267,61.7573,2.00000
4106,2012-05-01,23:30,21.4933,21.0213,15.0000,-0.457762,"(194.678, 199.0762]",42.9227,"(41.391, 44.925]",11.6220,...,0.00,0.000,0.000,-2.80800,0,0,0,16.4313,61.7680,2.00000
4107,2012-05-01,23:45,21.3827,20.9253,14.3333,-0.482586,"(194.678, 199.0762]",42.9600,"(41.391, 44.925]",11.6053,...,0.00,0.000,0.000,-2.88600,0,0,0,16.3627,61.4080,2.00000
4108,2012-05-02,00:00,21.2653,20.8347,13.4667,-0.500380,"(194.678, 199.0762]",43.1787,"(41.391, 44.925]",11.5073,...,0.00,0.000,0.000,-2.88600,0,0,0,16.2680,62.2320,2.06667
4109,2012-05-02,00:15,21.1569,20.7262,13.0000,-0.501391,"(194.678, 199.0762]",43.2954,"(44.925, 48.459]",11.6623,...,0.00,0.000,0.000,-3.03000,0,0,0,16.1515,62.0308,3.00000
4110,2012-05-02,00:30,21.0653,20.6560,13.0000,-0.516329,"(194.678, 199.0762]",43.0640,"(44.925, 48.459]",11.6053,...,0.00,0.000,0.000,-3.04200,0,0,0,16.0767,61.7280,3.00000
4111,2012-05-02,00:45,20.9413,20.5520,13.0000,-0.520064,"(194.678, 199.0762]",43.1280,"(44.925, 48.459]",11.6220,...,0.00,0.000,0.000,-2.88600,0,0,0,15.9727,62.0293,3.00000
4112,2012-05-02,01:00,20.8587,20.4533,13.0000,-0.518218,"(194.678, 199.0762]",42.9253,"(44.925, 48.459]",11.5887,...,0.00,0.000,0.000,-2.96400,0,0,0,15.8993,62.0400,3.00000
4113,2012-05-02,01:15,20.7560,20.3660,13.0000,-0.513517,"(194.678, 199.0762]",42.8987,"(44.925, 48.459]",11.6867,...,0.00,0.000,0.000,-2.88600,0,0,0,15.8147,62.0640,3.00000
4114,2012-05-02,01:30,20.6707,20.2633,13.0000,-0.537418,"(194.678, 199.0762]",42.9920,"(44.925, 48.459]",11.5240,...,0.00,0.000,0.000,-2.88600,0,0,0,15.7167,62.2133,3.00000
4116,2012-05-02,02:00,20.4847,20.0667,11.8667,-0.495240,"(199.0762, 203.608]",43.1307,"(44.925, 48.459]",11.6053,...,0.00,0.000,0.000,-2.57400,0,0,0,15.3120,62.5973,3.00000
4117,2012-05-02,02:15,20.3867,19.9720,11.0000,-0.491505,"(199.0762, 203.608]",43.0747,"(44.925, 48.459]",11.4260,...,0.00,0.000,0.000,-3.04200,0,0,0,15.1020,62.8960,3.00000
4118,2012-05-02,02:30,20.2887,19.8787,11.0000,-0.414178,"(199.0762, 203.608]",42.7147,"(44.925, 48.459]",11.6053,...,0.00,0.000,0.000,-2.80800,0,0,0,15.0433,62.7200,3.00000
4119,2012-05-02,02:45,20.1646,19.7692,11.0000,-0.390013,"(199.0762, 203.608]",42.6277,"(41.391, 44.925]",11.7008,...,0.00,0.000,0.000,-2.85000,0,0,0,14.8946,62.9969,3.00000
4120,2012-05-02,03:15,20.0600,19.6220,11.0000,-0.385575,"(199.0762, 203.608]",42.6760,"(44.925, 48.459]",11.6950,...,0.00,0.000,0.000,-2.76900,0,0,0,14.7580,63.2360,3.00000
4121,2012-05-02,03:30,19.8627,19.4160,11.0000,-0.381357,"(199.0762, 203.608]",42.6880,"(44.925, 48.459]",11.7033,...,0.00,0.000,0.000,-2.73000,0,0,0,14.5433,63.3653,3.00000
4122,2012-05-02,03:45,19.7693,19.3127,11.0000,-0.371516,"(199.0762, 203.608]",42.8053,"(44.925, 48.459]",11.6867,...,0.00,0.000,0.000,-2.80800,0,0,0,14.4213,62.9707,3.00000
4123,2012-05-02,04:00,19.6653,19.1927,11.0000,-0.327448,"(199.0762, 203.608]",42.8400,"(44.925, 48.459]",11.7680,...,0.00,0.000,0.000,-2.49600,0,0,0,14.3233,62.6000,3.00000
4124,2012-05-02,04:15,19.5613,19.0813,11.0000,-0.321385,"(199.0762, 203.608]",42.7360,"(44.925, 48.459]",11.7033,...,0.00,0.000,0.000,-2.73000,0,0,0,14.2127,62.7413,3.00000
4125,2012-05-02,04:30,19.4413,18.9647,11.0000,-0.318090,"(199.0762, 203.608]",42.6907,"(44.925, 48.459]",11.5240,...,0.00,0.000,0.000,-2.65200,0,0,0,14.1000,62.7787,3.00000
4126,2012-05-02,05:00,19.2877,18.7877,11.0000,-0.279953,"(199.0762, 203.608]",42.6831,"(44.925, 48.459]",11.6442,...,0.00,0.000,0.000,-2.05462,0,0,0,13.8977,63.5369,3.00000
4127,2012-05-02,05:15,19.1253,18.6233,11.0000,-0.272176,"(199.0762, 203.608]",42.7787,"(44.925, 48.459]",12.4847,...,322.56,2917.030,415.744,5.85600,0,0,0,13.6847,63.2320,3.00000
4129,2012-05-02,05:45,18.9467,18.4367,11.0000,-0.249198,"(199.0762, 203.608]",42.7893,"(44.925, 48.459]",21.0207,...,7038.98,35670.700,6458.370,63.60800,0,0,0,13.7027,61.8933,3.00000
4130,2012-05-02,06:00,18.8833,18.3560,11.0000,-0.277317,"(199.0762, 203.608]",42.7387,"(44.925, 48.459]",21.1473,...,10392.20,52183.000,9769.640,123.93600,0,0,0,13.8740,61.2187,3.00000
4131,2012-05-02,06:15,18.8400,18.2900,11.0000,-0.299812,"(199.0762, 203.608]",42.8560,"(44.925, 48.459]",21.0033,...,10949.60,61197.000,11152.000,177.97300,0,0,0,14.1980,60.0853,3.00000
4132,2012-05-02,06:30,18.8000,18.2667,11.0000,-0.315278,"(199.0762, 203.608]",43.0160,"(44.925, 48.459]",21.8500,...,6636.54,35671.400,7454.380,124.49600,0,0,0,14.4833,58.9920,3.00000
4133,2012-05-02,06:45,18.7713,18.2153,11.7333,-0.325119,"(199.0762, 203.608]",43.1920,"(44.925, 48.459]",21.1653,...,11818.30,71188.500,12526.900,256.59700,0,0,0,14.7540,58.6213,3.00000
4134,2012-05-02,07:00,18.7860,18.2000,12.0000,-0.314794,"(199.0762, 203.608]",43.3947,"(44.925, 48.459]",21.2640,...,10836.30,69498.200,12597.900,281.56800,0,0,0,15.2020,57.6960,3.00000
4135,2012-05-02,07:15,18.8133,18.2153,12.5333,-0.285269,"(199.0762, 203.608]",43.3440,"(41.391, 44.925]",28.1647,...,11722.10,79102.000,15796.900,354.64500,0,0,0,15.7260,56.8613,3.00000
4136,2012-05-02,07:30,18.8600,18.2667,13.0000,-0.283424,"(199.0762, 203.608]",43.6667,"(41.391, 44.925]",31.1107,...,11819.70,81240.100,19035.500,404.99200,0,0,0,16.2693,55.8907,3.00000

In [35]:
dataframe[dataframe.loc[:,col].isnull() == True]

Empty DataFrame
Columns: [Date, Time, Temperature_Comedor_Sensor, Temperature_Habitacion_Sensor, Weather_Temperature, CO2_Comedor_Sensor, CO2_Habitacion_Sensor, Humedad_Comedor_Sensor, Humedad_Habitacion_Sensor, Lighting_Comedor_Sensor, Lighting_Habitacion_Sensor, Precipitacion, Meteo_Exterior_Crepusculo, Meteo_Exterior_Viento, Meteo_Exterior_Sol_Oest, Meteo_Exterior_Sol_Est, Meteo_Exterior_Sol_Sud, Meteo_Exterior_Piranometro, Exterior_Entalpic_1, Exterior_Entalpic_2, Exterior_Entalpic_turbo, Temperature_Exterior_Sensor, Humedad_Exterior_Sensor, Day_Of_Week]
Index: []

[0 rows x 24 columns]

In [36]:
#normalizeAgregation
norm.normalizeAgregation(dataframe.loc[:,'Temperature_Exterior_Sensor'],0.75)

C:\Users\e2its\AppData\Roaming\Python\Python35\site-packages\ipykernel\__main__.py:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\e2its\AppData\Roaming\Python\Python35\site-packages\ipykernel\__main__.py:105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0       21.0
1       21.0
2       21.0
3       21.0
4       21.0
5       21.0
6       21.0
7       21.0
8       21.0
9       21.0
10      21.0
11      21.0
12      21.0
13      21.0
14      21.0
15      21.0
16      21.0
17      21.0
18      21.0
19      21.0
20      21.0
21      21.0
22      21.0
23      21.0
24      21.0
25      21.0
26      21.0
27      21.0
28      21.0
29      21.0
        ...
4105    14.0
4106    14.0
4107    14.0
4108    14.0
4109    14.0
4110    14.0
4111    14.0
4112    14.0
4113    14.0
4114    14.0
4116    14.0
4117    14.0
4118    14.0
4119    14.0
4120    14.0
4121    14.0
4122    14.0
4123    14.0
4124    14.0
4125    14.0
4126    14.0
4127    14.0
4129    14.0
4130    14.0
4131    14.0
4132    14.0
4133    14.0
4134    14.0
4135    14.0
4136    14.0
Name: Temperature_Exterior_Sensor, dtype: float64

In [37]:
dataframe.loc[:,'Temperature_Exterior_Sensor'].value_counts()

14.0    2056
21.0    2056
Name: Temperature_Exterior_Sensor, dtype: int64

In [38]:
dataframe.loc[:,'Lighting_Comedor_Sensor'].value_counts()

11.5240     358
11.6053     315
11.6867     190
11.7033     142
11.4427     112
11.5073     111
11.6220     107
11.4260     105
11.7847      85
11.5887      61
11.3447      48
11.3280      47
20.7420      38
20.8233      37
11.2467      30
11.7680      30
11.8660      28
11.2300      26
11.4093      24
0.0000       23
20.9047      21
20.8227      20
20.9040      18
20.9213      17
11.3113      17
81.7413      17
81.4827      16
11.5407      15
20.9207      15
81.2427      15
           ...
38.0680       1
41.2560       1
50.3693       1
20.0447       1
108.5920      1
23.1833       1
59.4747       1
25.2500       1
21.0680       1
53.8920       1
91.0427       1
74.1840       1
77.2613       1
84.9733       1
54.5760       1
23.7693       1
107.1410      1
69.9493       1
61.3333       1
37.7000       1
51.9227       1
20.7593       1
64.5173       1
40.5307       1
68.2773       1
76.1200       1
16.7573       1
44.2213       1
45.0413       1
68.9693       1
Name: Lighting_Comedor_Sensor, dtype: int64

In [39]:
dataframe.loc[:,'Lighting_Comedor_Sensor'].shape[0]

4112